*, *::before, *::after{
	box-sizing: border-box;
}

:root{
	--cell-size : 100px;
	--mark-size: cal(var(--cell-size)* 0.9);
}

body{
	margin: 0;
}

.plateau {
	width: 100vw;
	height: 100vh;
	display: grid;
	justify-content: center;
	align-content: center;
	align-items: center;
	grid-template-columns: repeat(3, auto);

}

.cell {
	width: var(--cell-size);
	height: var(--cell-size);
	border: 1px solid black;
	align-items: center;
	display: flex;
	justify-content: center;
}

.cell.x,
.cell.o{
	font-family: 'Quicksand', sans-serif;
	font-size: 110px;
	cursor: not-allowed;
}


.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3){
	border-top: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7){
	border-bottom: none;
}

.cell:nth-child(3n+1){
	border-left: none;
}

.cell:nth-child(3n+3){
	border-right: none;
}

.win-mess{
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, .9);
	justify-content: center;
	align-items: center;
	color: white;
	font-size: 5rem;
	flex-direction: column;
}

.win-mess.show{
	display: flex;
}

.win-mess button{
	font-size: 3rem;
	font-family: 'Quicksand', sans-serif;
	background-color: white;
	border: 1px solid black;
	cursor: pointer;
	padding: .25em 1.5em;
}


